data/*
!data/public_set
!data/private_set1
data/public_set/*
data/private_set1/*
!data/public_set/.gitkeep
!data/private_set1/.gitkeep

outputs/*
!outputs/checkpoints
!outputs/rendered
outputs/checkpoints/*
outputs/rendered/*
!outputs/checkpoints/.gitkeep
!outputs/rendered/.gitkeep

*.pth
*.ckpt
__pycache__/
.ipynb_checkpoints/
*.zip
.DS_Store
